#card {
  position: absolute;
  z-index: 500; /* leaflet's max z-index is 400 */
  opacity: 0;
  top: 0;
  left: 56px;
  width: 240px;
  padding: 20px;
  font-size: 0.85em;
  background-color: #f8f8f8ec;
  border-radius: 2px;
  box-shadow: 0 2px 2px 1px rgba(0,0,0,0.3);
  transition: opacity 0.2s, transform 0.2s;
}
#card * {
  /* this works, but only tags make use of the left margin */
  margin: 0 5px 5px 0;
}
#card div {
  margin-bottom: 10px;
}
#card.active {
  transform: translateY(10px);
  opacity: 1; /* text opacity is now 100% but background is ~90% */
}
#card .staff {
  border-left: 2px solid grey;
  padding-left: 10px;
}
