nav {
  flex: 0 0 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-right: 1px solid grey;
}
.scrollable {
  flex-grow: 1;
  overflow-y: scroll;
}
header {
  background-color: #043769;
  background-image: url('../res/images/edge.png');
  background-position: 120% bottom;
  background-repeat: no-repeat;
  background-size: 170px;
}
header > img {
  height: 40px;
  margin: 15px 20px 10px;
}
header > div {
  height: 35px;
  line-height: 35px;
  color: #fff;
  background: #002754b3;
  padding: 0 20px;
}
h2, h3, h4 {
  font-weight: normal;
}
#search input {
  width: 100%;
  border: none;
  background: #e7e7e7;
  border: 1px solid #ccc;
  border-width: 1px 0;
  color: #000;
}
#search {
  position: relative;
  margin: 10px 0;
}
#search:before, .cat:before { /* icons */
  position: absolute;
  top: 14px;
  left: 14px;
  width: 14px;
  height: 14px;
  content: '';
  background-repeat: no-repeat;
}
#search:before {
  background-image: url('../res/icons/search.svg');
  z-index: 1;
  opacity: 0.5;
}
/* show categories button */
#search div {
  margin-top: 5px;
  padding: 7px;
  background: #e7e7e7;
  color: #484848;
  border: 1px solid #ccc;
  font-size: 12px;
  border-left: none;
  font-style: italic;
  padding-left: 40px;
  display:  inline-block;
  border-radius: 0 2px 2px 0;
}
#help {
  margin: 20px;
  font-style: italic;
  font-weight: 100;
  text-align: center;
  color: #333;
}
#help > * {
  margin-bottom: 20px;
}
.cat, #search input {
  font-size: 14px;
  cursor: pointer;
  padding: 0 20px 0 40px;
  height: 40px;
  line-height: 40px;
  position: relative;
}
.cat:hover, .cat.open {
  background: #0002;
}
.cat:before {
  background-image: url('../res/icons/arrow.svg');
  background-size: 100% auto;
  width: 13px;
  height: 13px;
}
/* article immediately following .cat */
.cat + article {
  display: none;
}
.seperator {
  border-bottom: 1px solid;
  margin: 10px 0;
}
#about:before {
  background-image: url('../res/icons/info.svg');
}
#emergency:before {
  background-image: url('../res/icons/warning.svg');
}
#emergency {
  background: #ff8f8f;
}
.zoom:before {
  width: 18px;
  height: 18px;
  top: 10px;
  left: 12px;
}
.list-item:nth-child(2n) {
  background: #f2f2f2;
}
.list-item:hover {
  background: #e2e2e2;
}
.list-item.category h3 {
  font-size: 14px;
  margin-bottom: 10px;
}
.list-item.category h4 {
  font-size: 11px;
  color: #8c8c8c;
}
.list-item.category {
  padding: 10px;
  padding-left: 40px;
}
.list-item.search {
  padding: 10px;
  font-size: 80%;
}
.list-item.search * + * {
  /* this works, but only tags make use of the left margin */
  margin: 5px 5px 0 0;
}
.list-item > .staff {
  border-left: 2px solid grey;
  padding-left: 10px;
}
.open:before, .flip {
  transform: scaleY(-1);
}
.open + article {
  display: block
}
